:root {
    --font-family: -apple-system, BlinkMacSystemFont, Aptos, Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family--mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

    --font-size-base: 10px;
    --font-size-x-small: 1.2rem;
    --font-size-small: 1.4rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.4rem;
    --font-size-xx-large: 3.4rem;

    @media (min-width: 40em) {
        --font-size-base: 11px;
    }

    @media (min-width: 60em) {
        --font-size-x-small: 1.4rem;
        --font-size-small: 1.6rem;
        --font-size-medium: 1.8rem;
        --font-size-large: 2rem;
        --font-size-x-large: 2.8rem;
        --font-size-xx-large: 4rem;
    }
}

h6, .hdg--x-small { font-size: var(--font-size-x-small); }
h5, .hdg--small { font-size: var(--font-size-small); }
h4, .hdg--medium { font-size: var(--font-size-medium); }
h3, .hdg--large { font-size: var(--font-size-large); }
h2, .hdg--x-large { font-size: var(--font-size-x-large); }
h1, .hdg--xx-large { font-size: var(--font-size-xx-large); }

.hdg, h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}

.hdg--divider {
    position: relative;
    z-index: 4;

    > span {
        background-color: var(--color-bg--main);
        padding: 0 0.5em 0 0;
    }

    &::before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        z-index: -1;
        background: linear-gradient(135deg, var(--color-secondary) 0%, var(--color-tertiary) 100%);
    }
}

.hdg--caps { text-transform: uppercase; }
