@layer utils {
    :root {
        --base-space: 2em;
        --half-space: calc(var(--base-space) / 2);
        --quarter-space: calc(var(--base-space) / 4)
    }

    .relative {
        position: relative;
    }

    .text--center {
        text-align: center;
    }

    .text--normal {
        font-weight: normal;
        font-style: normal;
    }

    .text--bold {
        font-weight: bold;
    }

    .text--x-small {
        font-size: var(--font-size-x-small);
    }

    .text--small {
        font-size: var(--font-size-small);
    }

    .text--subtitle {
        color: var(--color-text-subtitle)
    }
}