@layer component {
    .avatar {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        z-index: 1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-medium-blue);
        font-size: var(--font-size-large);
        font-weight: bold;

        @media (max-width: 60em) {
            width: 35px;
            height: 35px;
            font-size: var(--font-size-x-small);
        }
    }

    .avatar--small {
        width: 40px;
        height: 40px;
        font-size: var(--font-size-small);
    }

    .avatar--orange {
        background-color: var(--color-medium-orange);
    }

    .avatar-group {
        display: flex;
        justify-content: center;
        align-items: center;

        .avatar {
            box-shadow: 0 0 0 1px var(--color-bg--main);
            margin-bottom: 1px;
            margin-right: 0;
        }

        > * + * { margin-left: -0.5em; }
    }
}