.btn {
    background-color: transparent;
    box-sizing: border-box;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: 500;
    max-width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0.3em 0.8em;
    text-decoration: none;
    border-radius: 3rem;
    white-space: nowrap;
    cursor: pointer;
}

.btn--primary {
    background-color: var(--color-primary);
    color: var(--color-almost-black);
}

.btn--icon {
    padding-left: 2.2em;
    position: relative;

    &::before {
        content: '';
        width: 1em;
        height: 1em;
        position: absolute;
        left: 0.75em;
        top: 50%;
        margin-top: -0.5em;
        background: center / 1em no-repeat;
    }
}

.btn--icon-back {
    padding-left: 1.7em;
    width: 5.5em;
    text-align: center;

    &::before {
        left: 0.5em;
        background-image: url("/icons/back.svg");
    }
}