:root {
    --page-padding: 1.6rem;
    --negative-page-padding: -1.6rem;
}

.page {
    width: 100%;
    max-width: var(--content-width);
    min-height: calc(100vh - var(--body-padding) - (var(--page-padding) * 2));
    padding: var(--page-padding);
    margin: 0 auto;
    position: relative;
}

.page__content {
    max-width: var(--content-width);
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    margin: 0 auto calc(var(--page-padding) * -1);

    @media (min-width: 40em) {
        margin-bottom: -2rem;
    }

    @media (min-width: 60em) {

        margin-bottom: -3rem;
    }
}

.page--full-width {
    @media (min-width: 60em) {
        max-width: none;
    }
}

.sheet {
    --sheet-padding: 1em;
    padding: var(--sheet-padding);
    background: var(--color-bg--sheet);
    box-shadow: 0 0 3rem var(--color-shadow);
    margin: 0 var(--negative-page-padding) 0;
    width: calc(100% + (var(--page-padding) * 2));
    border-radius: 0;
    position: relative;
    transition: box-shadow 0.3s ease-in-out;

    @media (min-width: 40em) {
        --sheet-padding: 2em;
        margin: 0 auto 2em;
        width: 100%;
        border-radius: 1.5em;
    }

    @media (min-width: 60em) {
        --sheet-padding: 5rem;
    }
}

.sheet--vh {
    margin-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sheet--inbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-bottom: 0;
}
